<div class="customize card card-body text-center">
  <h1><img src="/img/chortkee.png" alt="" /></h1>
  <p>ورود / ثبت نام</p>
  <a href="/users/register" class="btn btn-primary btn-block mb-2">ثبت نام</a>
  <a href="/users/login" class="btn btn-secondary btn-block">ورود</a>
</div>
