<link rel="stylesheet" href="/css/dashboard.css" />

<div class="dashboard-flex customize card card-body">
  <div id="welcome-message">به فیلتر نویس هوشمند چرتکه خوش آمدید</div>
  <img id="chortke-icon" src="/img/chortkee.png" alt="" />
  <a href="/users/logout" class="btn btn-danger btn-block" id="logout">خروج</a>
</div>

<script src="/js/dashboard.js"></script>
