<style>
  h2 {
    text-decoration: underline;
    color: rgb(175, 11, 11);
    text-align: right;
    padding: 10px;
    margin-top: 150px;
    justify-self: end;
  }
  .boxpay {
    width: 1000px;
    height: 600px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    padding-top: 20px;
    padding-right: 30px;
    background: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    box-shadow: 10px 10px 20px rgba(18, 22, 33, 0.2);
  }
  img {
    width: 300px;
    justify-self: end;
    margin-top: auto;
    margin-bottom: auto;
  }
</style>
<div class="boxpay">
  <h2>عملیات پرداخت ناموفق بود</h2>
  <img src="/img/payfail.png" alt="" />
</div>
